.feat{
    display: none;
}











.dropdowna{
    width: 20%;
}
.dropdown {

  display: flex;
  padding-top: 10em;
 padding-bottom: 4em;
 justify-content: center

}


.dropbtn {
  background-color: #5D737E;
  color: #FCF7FF;
  padding: 1em 2em;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 500px; 
  box-sizing: border-box;
  font-size: 2em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5D737E;
  border-radius: 10px;
  margin-top: 0.5em;
  flex-direction: column;
  width: 80%; 
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  z-index: 0;
  max-width: 400px;
  margin-top: 5em;
  font-size: 1.5em;
}

.dropdown-content a {
  color: #FCF7FF;
  padding: 1em 2em;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #49606B;
}

.dropdown.show .dropdown-content {
  display: flex;
  flex-direction: column;
}







.feate{
    background-color:#001355;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 20px;
}

.feate h1{
    font-size: 3em;
  
}
.feate h2{
    font-size: 2.4em;
    color: #701C24;
}
.feate p{
    font-size: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: -1em;
}
.featimg{
    width: 70%;
    border-radius: 10px;
    max-width: 400px;

}



footer{
    margin-top: 10em;
}


@media (min-width: 1700px){
.feat{
        padding-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    max-width: 300px;
    padding-bottom: 2em;
}

.feat h1{
    background-color: #5D737E;
    display: inline-block;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    margin-left: 1em;
}

.feat a{
    background-color: #5D737E;
    display: block;
    padding: 1em;
    color: #FCF7FF;
    text-decoration: none;
    border-radius: 20px;
    font-size: 2em;
    width: 100%;
    text-align: center;
    margin-left: 2em;
    transition: transform 0.2s ease
}

.feat a:hover{
      transform: scale(1.1);
}
.dropdown{
    display: none;
}
    .orde {
        display: flex;
        flex-direction: row; 
        align-items: flex-start;
        gap: 15em;
        padding: 2em;
    }
.feate{
    width: 1500px;
    margin-top: 10em;
}
}
