
body{
    background-color: #1A1A1A;
    margin: 0;
    color: #FCF7FF;
    font-family: "Roboto";
}










nav{
    background-color: #FCF7FF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo{
    width: 7em;
    margin: 0.5em;
}

#hamburger{
    display: none;
}
.toplinkL{
    display: none;
}
.close{
    display: none;
    width: 4em;
    margin-bottom: 1em;
    cursor: pointer;
    position: fixed;
    right: 3em;
    top: 1.3em;
}

#hamburger:checked ~ .slideout {
    transform: translateX(0);
}

.navh{
        text-decoration: none;
    color:#001355;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 2em;
    display: block;
    text-align: right;
    border-bottom: 1px solid #eee
}

.slideout{
    background-color: #FCF7FF;
    position: absolute;
    width:100%;
    transform: translateX(100%);
    transition: all 0.2s ease-in;
    align-items: center;
    justify-content: center;
    top: 6.5em;
}

.hamburg{
    width: 4em;
    margin-bottom: 1em;
    cursor: pointer;
    position: fixed;
    right: 2em;
    padding-top: 1em;
}
#hamburger:checked + .menu-btn .hamburg {
  display: none;
}

#hamburger:checked + .menu-btn .close {
  display: block;
}


.hamburg{
    padding: 1.5em;
    width: 4em;
}
.navd{
    display: none;
}



header{
    padding-top: 7em;
    padding-left: 1em;
    background-image: url("images/backgroundligt.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -300px -400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
}



.herotitle{
    font-size: 4em;
}

.herop{
    font-size: 2em;
    padding-left: 1em;
    padding-right: 2em;
    line-height: 1.9em;
    font-family: "quasimoda", sans-serif;
font-weight: 400;
font-style: normal;
}

.heroimg{
    width: 100%;
    margin-top: 2em;
}



.button{
    text-decoration: none;
    color: #FCF7FF;
    background-color: #701C24;
    padding: 0.5em;
    border-radius: 2em;
    min-width: 7em;
    text-align: center;
    font-size: 2em;
    transition: transform 0.2s ease
}

.button:hover {
  transform: scale(1.1);
}

.herobutton{
    display: flex;
    gap: 2em;
    padding-top: 1em;
    justify-content: flex-start;
    
}











.h1w{
    font-size: 4em;
}

.Waarom{
    background-color: #FCF7FF;
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    gap: 0em;
}

.h2w{
    color: #701C24;
    font-size: 3em;
}
.h2ww{
    padding-right: 1em;
    padding-left: 2em;
    padding-top: 0em;
    margin-bottom: 0em;
}

.h2www{
    margin-bottom: 0em;
}

.pw{
        font-family: "quasimoda", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2em;
padding-left: 1em;
padding-right: 2em;
line-height: 1.5em;
}

.vibe{
    padding-bottom: 4em;
    width: 80%;
}
.vibee{
    width: 80%;
}





.downloadb{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 10em;
    gap: 2em;
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
}


footer{
    background-color: #3A3A3A;
}
.linkf{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    row-gap: 3em;
    padding-top: 2em;
}

.linkff{
        color: #FCF7FF;
    font-family: "Roboto";
    text-decoration: none;
    font-size: 2em;
}
.email{
    text-decoration: underline;
font-size: 3em;
padding-bottom: 2em;
margin-left: 1em;
}







@media (min-width: 1400px){
    .navd{
        display: flex;
        gap: 4em;
        padding-top: 2em;
    }
    .toplink{
        text-decoration: none;
        font-size: 2em;
        color: #001355;
    }
    .toplinkL{
        display: flex;
        top: 1em;
        right: 2em;
        position: fixed;
        font-size: 2em;
        text-decoration: none;
        color: #001355;
    }
    .hamburg{
        display: none;
    }
    .heroimg{
        width: 60%;
    }




    .vibee{
        width: 60%;
    }
    .vibe{
        width: 60%;
    }


    .downloadb{

        width: 40%;
    }





    footer {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2em;
     align-items: center;
    }


    footer img {
    grid-column: 1;
    grid-row: 1;
    width: 50%;
    }

    footer .email {
    grid-column: 1;
    grid-row: 2;
    padding-top: 0.5em;
    font-size: 2em
}


    .linkf {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: end;
    display: flex;
    gap: 2em;
    padding-right: 5em;
    font-size: 1em;
}
}

@media (min-width: 1700px){
    header{
        display: flex;
        flex-direction: row;
    }
    .hero-content{
        padding-left: 4em;
        padding-bottom: 3em;
    }
    .Waarom{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 4rem;
  align-items: center;
  padding: 4rem 2rem;
    }
    .h1w {
  grid-column: 1 / -1;
  text-align: center;
}
.h2ww {
    grid-column: 1;
    padding: 0em;
    padding-left: 0.5em;
}

.h2ww + .pw {
  grid-column: 1;
}

.vibee {
  grid-column: 2;
  width: 80%;
}
.vibe {
  grid-column: 1;
    padding: 0em;
    margin-top: -30em;
    width: 80%;
}

.h2www {
  grid-column: 2;
  padding: 0em;
  padding-left: 0.5em;
}

.h2www + .pw {
  grid-column: 2;
}


}




