.top{
    padding-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top h1{
    font-size: 3em;
}

.sub{
    text-decoration: none;
    background-color: #5D737E;
    color: #FCF7FF;
    padding: 0.5em 1em;
    font-size: 3em;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.2s ease
}

.sub:hover{
    transform: scale(1.1);
}
.title{
    background-color: #5D737E;
    color: #FCF7FF;
    padding: 0.5em 1em;
    font-size: 3em;
    border-radius: 20px;
    text-align: center;
}
.box{
    background-color: #001355;
    border-radius: 16.5px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    width: 400px;
}
.feature {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.5em;
}


@media (min-width: 1700px){
 .orden{
    display: flex;
    flex-direction: row;
    gap: 2em;
 }
.laats{
    margin-top: 0.6em;
}

}